#fs0{
    border: 0.1vw solid #dadada;
    border-radius:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-size: 0.8vw;
    font-weight: 400;
    padding: 0.3vw 1vw;
    width: 17vw;
}
#fs0i{
    font-size: 1.1vw;
    font-weight: 400;
    /* background-color: red; */

}
#fs0iu{
    font-size: 1.1vw;
    font-weight: 400;
    display: none;
}
#fs0:hover{


    border:0.1vw solid rgb(0,124,194);

    #fs0i{
        display: none;
    }
    #fs0iu{
        display: block;
    }
    
}
#fs1{
    border: 0.1vw solid #dadada;
    border-radius:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-size: 0.8vw;
    font-weight: 400;
    padding: 0.3vw 1vw;
    width: 12vw;
}
#star{
    /* background-color:rgb(0,124,194) ; */
    color:rgb(0,124,194);
    border:none;
    border-radius: 100%;
}

#fs1i{
    font-size: 1.1vw;
    font-weight: 400;
    /* background-color: red; */

}
#fs1iu{
    font-size: 1.1vw;
    font-weight: 400;
    display: none;
}
#fs1:hover{


    border:0.1vw solid rgb(0,124,194);

    #fs1i{
        display: none;
    }
    #fs1iu{
        display: block;
    }
    
}
#fil{
    /* background-color: red; */
    display: none;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    gap: 0.8vw;
    width: fit-content;
    padding: 1vw;
    position: absolute;
    z-index: 12;
    top:31.2%;
    border: 0.1vw solid #dadada;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw gray;
}
#fil1{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}
#fil1h{
    font-size: 1.5vw;
}
#fil1r{
    display: flex;
    /* background-color: yellow; */
    gap: 1vw;
    padding: 1vw;
}
#filrb{
    background-color: rgb(165, 210, 236);
    border-radius: 1vw;
    padding: 0.2vw 1vw;
}
#filrb:hover{
    border: 0.1vw solid rgb(0, 69, 110);

}
#fil2{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;

}
#fil2h{
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
#fil2l{
    /* background-color: green; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
#fil2ls{
    display: flex;
    gap: 1vw;
    font-size: 1vw;
}
#fil2r{
    /* background-color: blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
#fs2{
    border: 0.1vw solid #dadada;
    border-radius:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-size: 0.8vw;
    font-weight: 400;
    padding: 0.3vw 1vw;
    width: 12vw;
}

#fs2i{
    font-size: 1.1vw;
    font-weight: 400;
    /* background-color: red; */

}
#fs2iu{
    font-size: 1.1vw;
    font-weight: 400;
    display: none;
}
#fs2:hover{


    border:0.1vw solid rgb(0,124,194);

    #fs2i{
        display: none;
    }
    #fs2iu{
        display: block;
    }
    
}

#gr{
    display: none;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    gap: 0.8vw;
    width: 17vw;
    padding: 1vw;
    position: absolute;
    z-index: 12;
    top:31.2%;
    border: 0.1vw solid #dadada;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw gray;
}
#gr1{
    display: flex;
    gap: 1vw;
}
#gr1s{
    border:0.1vw solid #dadada;
    border-radius: 2vw;
    padding: 0.2vw 0.5vw;
}
#gr1s:hover{
    border: 0.1vw solid #000;
    cursor: pointer;
}
#gr2{
    display: flex;
    gap: 1vw;
}
#gr2s{
    border:0.1vw solid #dadada;
    border-radius: 2vw;
    padding: 0.2vw 0.5vw;
}
#gr2s:hover{
    border: 0.1vw solid #000;
    cursor: pointer;
}
#gr3{
    display: flex;
    gap: 1vw;
}
#gr3s{
    border:0.1vw solid #dadada;
    border-radius: 2vw;
    padding: 0.2vw 0.5vw;
}
#gr3s:hover{
    border: 0.1vw solid #000;
    cursor: pointer;
}
#gr4{
    display: flex;
    gap: 1vw;
}
#gr4s{
    border:0.1vw solid #dadada;
    border-radius: 2vw;
    padding: 0.2vw 0.5vw;
}
#gr4s:hover{
    border: 0.1vw solid #000;
    cursor: pointer;
}
#fs4{
    border: 0.1vw solid #dadada;
    border-radius:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-size: 0.8vw;
    font-weight: 400;
    padding: 0.3vw 1vw;
    width: 13vw;
}

#fs3{
    border: 0.1vw solid #dadada;
    border-radius:2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    font-size: 0.8vw;
    font-weight: 400;
    padding: 0.3vw 1vw;
    width: 12vw;
}
#fs3i{
    font-size: 1.1vw;
    font-weight: 400;
    /* background-color: red; */

}
#fs3iu{
    font-size: 1.1vw;
    font-weight: 400;
    display: none;
}
#fs3:hover{


    border:0.1vw solid rgb(0,124,194);

    #fs3i{
        display: none;
    }
    #fs3iu{
        display: block;
    }
    
}
#fs4i{
    font-size: 1.1vw;
    font-weight: 400;
    /* background-color: red; */

}
#fs4iu{
    font-size: 1.1vw;
    font-weight: 400;
    display: none;
}

#pt{
    display:none;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    gap: 0.8vw;
    width: 17vw;
    padding: 1vw;
    position: absolute;
    z-index: 12;
    top:31.2%;
    border: 0.1vw solid #dadada;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw gray;
}

#pt1{
    display: flex;
    gap: 1vw;
}
#pt2{
    display: flex;
    gap: 1vw;
}
#pt3{
    display: flex;
    gap:1vw;
}
#ptb{
    border-top: 0.1vw solid #dadada;
    padding-top: 1vw;
    display: flex;
    justify-content: space-between;
}
#ptba{
    border:none;
    border-radius: 1vw;
    background-color: rgb(0,124,194);
    color: #fff;
    width: 30%;
    padding: 0.2vw 1vw;
}

#lf{
    display:none;
    gap:0.8vw;
    flex-direction: column;
    position: absolute;
    z-index: 12;
    top:31.2%;
    background-color: red;
    width: 17vw;
    background-color: #fff;
    border: 0.1vw solid #dadada;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw gray;
}
#lfh3{
    font-size: 1.2vw;
    padding-top: 1vw;
    padding-left: 1vw;

}
#lfp1{
    font-size: 0.8vw;
    padding-left: 1vw;
}
#lfp2{
    font-size: 0.8vw;
    padding-left: 1vw;
}
#lfs1{
    /* background-color: green; */
    width: 90%;
    margin-left: 0.8vw;
    padding: 0.5vw;
    border: 0.1vw solid #000;
    border-radius: 1vw;
}
#lfs2{
    /* background-color: green; */
    width: 90%;
    margin-right: 0.8vw;
    padding: 0.5vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border: 0.1vw solid #000;
    border-radius: 1vw;
}
#prot:hover{
    #pt{
        display: flex;
    }
}
#loca:hover{
    #lf{
        display: flex;
    }
}
#guest:hover{
    #gr{
        display: flex;
    }
}
#filter:hover{
    #fil{
        display: flex;
    }
}
#fs4:hover{


    border:0.1vw solid rgb(0,124,194);

    #fs4i{
        display: none;
    }
    #fs4iu{
        display: block;
    }
    
}


@media screen and (max-width:900px) and (min-width:500px) {
    

#fs0{
    width: 100%;
}
#fs1{
    width: 100%;

}
#fs2{
    width: 100%;

}
#fs3{
    width: 100%;

}
#fs4{
    width: 100%;

}
#fs4{
    font-size: 1.8vw;
    font-weight: 400;
}
#fs4i{
    font-size: 1.8vw;
    font-weight: 400;
    /* background-color: red; */

}
#fs4iu{
    font-size: 1.8vw;
    font-weight: 400;
    display: none;
}
}

@media screen and (max-width:550px) and (min-width:199px){
    #f{
        display: none;
    }
    
}